// Place all the styles related to the rests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  box-sizing: border-box;
}

.top {
  margin: 10em;
}

#caro .item img{
  margin: 0 auto;
  width: 100%;
  height: 30em;
}

.container {
  font-family: 'Poiret One', cursive;
  font-size: 1.5em;
}
